{{#if runningSearch}}
  <div>
    {{fa-icon icon="spinner-third" spin=true fixedWidth=true}} Searching ...
  </div>
{{/if}}

{{#if block._state.errorMessage}}
  <div class="alert alert-danger mt-1 onmessage-error">{{block._state.errorMessage}}</div>
{{/if}}

{{#if details.noResults}}
  <div>
    No Results
  </div>
{{/if}}

{{#if (gt filteredPagingData.length 0)}}
  <div class="d-flex align-items-center justify-content-between mb-2">
    <div class="p-value">
      <a href="https://feedly.com/i/powerSearch/in">
        Open Feedly
        {{fa-icon "external-link-square" class="external-link-icon"}}
      </a>
    </div>    
    <div class="pl-1 page-info p-footnote">
      {{#if (gt pagingData.length pageSize)}}
        Viewing search results {{pagingStartItem}} - {{pagingEndItem}} of {{pagingData.length}}
      {{else}}
        Viewing {{pagingData.length}} search results
      {{/if}}
    </div>
  </div>
{{/if}}

{{#each filteredPagingData as |result index|}}
  <div class="search-result">
    <a class="search-header" href="{{result.canonicalUrl}}">
      {{!--
      nested links here are to ensure that web search is able to detect that a click on the nested spans
      shoudl be opened in a new tab
      --}}
      <a class="d-flex align-items-center" href="{{result.canonicalUrl}}">
        {{!-- Show favicon is available, if not available hide this element --}}
        <img class="site-icon" onerror="this.style.display='none'" alt="" src="https://www.google.com/s2/favicons?domain={{result.origin.htmlUrl}}?size=64">
        {{#if result.origin.title}}
          <span class="site-name">{{result.origin.title}}</span>
        {{else}}
          <span class="site-name">{{result.origin.htmlUrl}}</span>
        {{/if}}
      </a>
      <div class="published-date p-footnote">Published on {{moment-format result.published "MMM Do YYYY" timeZone=timezone}}</div>
      <span class="display-link">{{result.canonicalUrl}}</span>
      <span class="header-title">{{result.title}}</span>
    </a>
    <div class="description">{{result.summary.content}}</div>
    {{#if (gt result.leoSummary.sentences.length 0)}}
      <div class="p-action mt-1" {{action (toggle "__viewLeoSummary" result)}}>
        {{#if result.__viewLeoSummary}}
          Close Leo AI Summary {{fa-icon icon="chevron-up" fixedWidth=true}}
        {{else}}
          View Leo AI Summary {{fa-icon icon="chevron-down" fixedWidth=true}}
        {{/if}}
      </div>
      {{#if result.__viewLeoSummary}}
        <div class="leo-summary-container">
          {{#each result.leoSummary.sentences as | summarySentence |}}
            <div class="leo-summary">{{summarySentence.text}}</div>
          {{/each}}
        </div>
      {{/if}}
    {{/if}}
  </div>
{{/each}}

{{#if details.showDisclaimer}}
  <div class="d-flex align-items-start mt-2 chat-bubble disclaimer">
    {{details.disclaimer}}
  </div>
{{/if}}

{{#if details.showDisclaimer}}
  <div class="message-box w-100 d-flex justify-content-end">
    <button
      {{action "declineDisclaimer"}}
            class="btn btn-outline-secondary"
            type="button"
    >
      Decline
    </button>
    <button
      {{action "acceptDisclaimer"}}
            class="btn btn-outline-secondary ml-1"
            type="button"
    >
      Accept
    </button>
  </div>
{{/if}}


{{#if details.disclaimerDeclined}}
  <div class="d-flex align-items-start mt-2 chat-bubble disclaimer">
    <span>Search declined. Please view in the browser using the 'View in Browser' external
      link.</span>
  </div>
{{/if}}

{{!-- Result Paging component --}}
{{#if (gt pagingData.length pageSize)}}
  <div class="paging-bar">
    <button class="btn paging-btn" {{action "firstPage"}} disabled={{isPrevButtonsDisabled}}>
      {{fa-icon icon="angle-double-left" fixedWidth=false}}
    </button>
    <button class="btn paging-btn" {{action "prevPage"}} disabled={{isPrevButtonsDisabled}}>
      {{fa-icon icon="angle-left" fixedWidth=false}}
    </button>
    <div class="paging-info">
      {{#if (eq pageSize 1)}}
        {{pagingStartItem}} of {{pagingData.length}}
      {{else}}
        {{pagingStartItem}} - {{pagingEndItem}} of {{pagingData.length}}
      {{/if}}
    </div>
    <button class="btn paging-btn" {{action "nextPage"}} disabled={{isNextButtonDisabled}}>
      {{fa-icon icon="angle-right" fixedWidth=false}}
    </button>
    <button class="btn paging-btn" {{action "lastPage"}} disabled={{isNextButtonDisabled}}>
      {{fa-icon icon="angle-double-right" fixedWidth=false}}
    </button>
  </div>
{{/if}}